* {padding:0;margin:0;}

body {
	font: 16px/1.4em 'open sans';
	color: #444;
	background: #eee;
}

h1 {
	color: #fff;
	background: #33bbcc;
	font-weight: 100;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0.1em 0.5em;
}

.piano-container {
	background: #040f10;
	margin: 3em 20px;
	box-sizing: content-box;
	height: 400px;
}

.piano-controls {
	height: 50%;
	padding: 0.75em 1em;
	box-sizing: border-box;
	white-space: nowrap;
}

.col-3 {
	width: 33%;
	display: inline-block;
	vertical-align: top;
}

.piano-keys {
	height: 50%;
	background: #fff;
	white-space: nowrap;
}

.press-btn-ctrls {

}


/*todo: svgs*/
.press-btn-ctrl {
	display: inline-block;
	border-radius: 4px;
	height: 20px;
	background: #33bbcc;
	/*border: 2px solid #103c41;*/
	margin-right: 10px;
	cursor: pointer;
	font-size: 8px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 100;
	color: #fff;
	padding: 0 10px;
}

.press-btn-ctrl:hover {
	background: #66ccdd;
}

.press-btn-ctrl:active {

}

.press-btn-ctrl.selected {

}

.knob-ctrls {
	border-radius: 50%;
	background: #33bbcc;
	width: 40px;
	height: 40px;
	position: relative;
	margin: 20px 0;
}

.knob-ctrls:before {

}

.knob-ctrls:after {

}

.scroll-select {
	-webkit-appearance: none;
	border: 1px solid #103c41;
}


.piano-display-switch {
	width: 80px;
	padding: 0;
	margin: -30px auto 0;
}


.piano-display-label {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 100;
	color: #bdd8db;
}

.piano-display-switch input {
	-webkit-appearance: none;
	width: 40px;
	height: 20px;
	background: #bdd8db;
	background: #73898C;
	background: #5C6E70;
	padding: 0;
	margin: 0;
}

.piano-display-switch input:checked {
	background: #33bbcc;
}

.piano-display-switch input:focus {
	outline: none;
}

.piano-display {
	width: 100%;
	/*height: 100%;*/
	margin: 10px auto;
	background: #8dd8e2;
	background: #0C2D31;
	background: #081E21;
	/*background: #9bcdd4;*/
	/*background: #a2c8cd;*/
	border-top: 2px solid #103C41;
	max-width: 20em;
	color: #2995A3;
	color: #33bbcc;
}

.piano-display-info {
	padding: .5em;
	border-bottom: 1px solid rgba(0,0,0,.05);
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 100;
	line-height: 20px;
}

.piano-display-chord-members {
	text-align: center;
	margin-top: 10px;
}

.piano-display-chord-member {
	width: 33%;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	font-weight: 100;
	padding: 10px;
	cursor: pointer;
}

.chord-type {

}

.chord-name {
	float: right;
}


/*todo: fix margins based on
whether or not a key is followed 
by a black key*/

.key {
	height: 100%;
	width: 48px;
	/*background: #eff9fb;*/
	background: #f2f7f8;
	display: inline-block;
	border: 1px solid #e0e0e0;
	margin: 0 -4px;
	/*box-shadow: 0 1px 0 0 rgba(0,0,0,.1);*/
	transition: .05s;
}

.key.black {
	background: #040f10;
	height: 67%;
	width: 32px;
	border-radius: 0 0 4px 4px;
	position: relative;
	top: -33%;
	margin: 0 -15px 0 -20px;
}

.key:hover {
	background: #fff;
	cursor: pointer;
}

.key:active {
	border-color: #ddd;
	box-shadow: inset 0 5px 10px 0 rgba(0,0,0,.1),
				inset 0 -2px 2px -2px rgba(0,0,0,.1);
}

.key:focus {

}

.key.black:hover {
	background: #103c41;
	cursor: pointer;
}

.key.black:active {
	border-color: #040f10;
	box-shadow: inset 0 5px 10px 0 rgba(0,0,0,.1),
				inset 0 -2px 2px -2px rgba(0,0,0,.1);
}

.key.black:focus {

}
















