.btn {
	-webkit-appearance: none;
	background-color: hsla(187,25%,45%,.75);
	background-image: radial-gradient(
						hsla(187,25%,50%,.5) 5%,
						hsla(187,25%,45%,0) 75%
					);
	border: none;
	box-shadow: inset 0 -1px 0 0 hsla(187,30%,55%,.75),
				1px 1px 0 0 hsla(187,25%,30%,1),
				-1px 1px 0 0 hsla(187,25%,30%,1),
				1px 2px 0 0 hsla(187,25%,35%,1),
				-1px 2px 0 0 hsla(187,25%,35%,1),
				0 3px 0 1px hsla(187,15%,15%,.35);
	flex: 0 0 24px;
	height: 24px;
	position: relative;
	width: 24px;

	&:checked {
		background-image: radial-gradient(
							hsla(187,45%,70%,1) 20%,
							hsla(187,45%,55%,1) 120%
						);
		box-shadow: 0 0 1px 0 hsla(187,45%,30%,1),
					0 1px 0 0 hsla(187,30%,25%,1),
					0 0 6px 0 hsla(187,45%,55%,1),
					0 0 12px 0 hsla(187,45%,45%,1),
					0 3px 12px 12px hsla(187,45%,45%,.18);
		top: 2px;

		@media(max-width: 320px) {
			top: 1px;
		}
	}

	&:hover {
		background: hsla(187,30%,50%,.75);
		background-image: radial-gradient(
						hsla(187,30%,55%,.5) 5%,
						hsla(187,30%,45%,0) 75%
					);
	}

	&:checked:hover {
		background-image: radial-gradient(
							hsla(187,50%,75%,1) 20%,
							hsla(187,45%,55%,1) 120%
						);	
	}
}

.controls__btn--round {
	@extend .btn;
	border-radius: 50%;
}

.controls__btn--square {
	@extend .btn;
	border-radius: 2px;
}