.piano__controls {
	background-color: hsla(187,59%,82%,1);
	background-image: linear-gradient(
						hsla(187,12%,24%,1),
						hsla(187,12%,24%,.9)
					  );
	border-radius: 2px 1px 1px;
	box-shadow: inset 0 -3px 3px 0 hsla(187,15%,20%,.15),
				inset 0 -1px 0 0 hsla(187,15%,20%,.5),
				0 2px 0 -1px hsla(187,25%,20%,.5),
				0 4px 0 -2px hsla(187,50%,30%,.75),
				0 6px 6px 0 hsla(187,15%,15%,.35),
				0 -18px 12px -18px hsla(187,95%,65%,.5);
	color: hsla(187,30%,60%,1);
	display: flex;
	flex: 1 1 100%;
	position: relative;

	@media(max-width: 320px) {
		flex-direction: column;
	}
}

.piano__controls__col {
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;

	&:last-of-type {
		flex-direction: row;
	}

	&:nth-of-type(3n-1) {
	    @media(max-width: 320px) {
	        order: 1;
	    }    
	}
}

.controls__group {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;

	.piano__controls__col:last-of-type & {
	    @media(max-width: 320px) {
	        flex-direction: row;
	    } 		
	}	
}

.controls__group--oscs {
	@extend .controls__group;
	flex-direction: row;

    @media(max-width: 320px) {
    	flex: 1 2 50%;
		padding: 12px 0 0;
    } 	
}

.controls__group--speaker {
	@extend .controls__group;
	flex-direction: row;
	flex: 1 1 100%;
	padding-left: 0;
	padding-right: 6px;

	@media(max-width: 750px) {
		flex: 0 1 50%;
	}	

	@media(max-width: 640px) {
		display: none;
	}		
}

.controls__speaker {
	background-color: hsla(187,24%,21%,.25);
	background-image: 
				linear-gradient(
					90deg,
					hsla(187,12%,12%,.25),
					hsla(187,12%,12%,.15) 5%,
					hsla(187,12%,12%,0) 20%,
					hsla(187,12%,12%,0) 80%,
					hsla(187,12%,12%,.15) 95%,
					hsla(187,12%,12%,.25)
				), 
				radial-gradient(
                    100% 5px at 50% 0,
                    hsla(187,12%,12%,.25) 50%,
                    hsla(187,12%,12%,0) 100%
				), 
				radial-gradient(
                    100% 5px at 50% 100%,
                    hsla(187,12%,12%,.25) 50%,
                    hsla(187,12%,12%,0) 100%
				);
	border-radius: 5% / 50%; 
	box-shadow: 
				inset 0 0 3px 0 hsla(187,100%,75%,.75),
				inset 0 0 1px 3px hsla(187,24%,12%,.5),
				inset 0 6px 3px 0 hsla(187,24%,6%,.15),
				inset 0 -6px 3px 0 hsla(187,24%,6%,.15)
				;
	flex: 0 1 100%;
	overflow: hidden;
	position: relative;

	&::before {
		background-image: linear-gradient(
			                transparent 6px,
							hsla(187,12%,21%,.5) 6px,
							transparent 50%,
							hsla(187,12%,18%,.05) 100%
						), radial-gradient(
							transparent 50%,
							hsla(187,12%,12%,.25)
						), radial-gradient(
							circle at 50% 50%,
							transparent 25%,
							hsla(187,12%,12%,.25) 85%
						), radial-gradient(
						    circle,
							transparent 65%,
							hsla(187,12%,21%,.5) 95%
						);
		bottom: 0;
		content: "";
		height: 100%;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	&::after {
		background: radial-gradient(
						hsla(187,12%,6%,.5) 2px,
						hsla(187,12%,21%,.75) 2px,
						hsla(187,12%,18%,.95) 4px,
						hsla(187,24%,6%,0) 4px
					) -4px -4px,
					radial-gradient(
						hsla(187,12%,6%,.5) 2px,
						hsla(187,12%,21%,.65) 2px,
						hsla(187,12%,18%,.95) 4px,
						hsla(187,24%,6%,0) 4px
					) 4px 4px,
					radial-gradient(
						rgba(102,102,102,.25) 4px,
						rgba(102,102,102,0) 4px
					) -4px -3px,
					radial-gradient(
						rgba(102,102,102,.25) 4px,
						rgba(102,102,102,0) 4px
					) 4px 5px;
		background-size: 16px 16px;
		border-radius: 10% / 50%;
		content: "";
		height: 96%;
		left: 2%;
		position: absolute;
		top: 2%; 
		width: 96%;
	}
}