.piano__keys {
	background-color: hsla(187,55%,55%,.95);
	border-left: 18px solid hsla(187,65%,60%,.95);
	border-right: 18px solid hsla(187,65%,60%,.95);
	border-top: 18px solid hsla(8,6%,8%,.25);
	box-shadow: inset 0 -1px 0 0 hsla(187,20%,95%,.25);
	display: flex;
	flex: 0 0 225px;
	height: 225px;
	justify-content: center;
	margin: 6px 3px;
	padding-left: 2px;
	position: relative;
	z-index: 0;

	@media(max-width: 750px) {
		flex: 0 0 196.875px;
		height: 196.875px;
	}
}

.key {
	background-color: hsla(8,6%,88%,1);
	border-bottom: 1px solid hsla(191,10%,45%,.75);
	border-radius: 0;
	border-bottom-left-radius: 2px 3px;
	border-bottom-right-radius: 2px 3px;
	box-shadow: inset 0 -2px 0 0 hsla(191,35%,35%,.5),
				0 6px 3px -3px hsla(191,15%,45%,.25),
				0 0 0 .5px hsla(191,15%,45%,.5);
	flex: 0 0 48px;
	margin: 0 1px 6px -1px;

	@media(max-width: 750px) {
		flex: 0 0 42px;
	}
}

.key.black {
	background-color: hsla(8,3%,16%,1);
	border-top: none;
	border-radius: 0 0 4px 4px;
	box-shadow: inset 0 6px 0 3px hsla(8,3%,8%,.75),
				inset 6px 0 0 0 hsla(8,3%,10%,.5),
				inset -6px 0 0 0 hsla(8,3%,10%,.5),
				inset 0 -24px 0 -12px hsla(8,3%,35%,.3),
				inset 0 -30px 0 -12px hsla(8,3%,35%,.2),
				inset 0 -12px 0 6px hsla(8,3%,10%,1),
				0 6px 0 -2px hsla(8,3%,32%,.18);
	flex: 0 0 33px;
	height: 65%;
	margin: 0 -18px 0 -15px;
	position: relative;
	z-index: 1;

	@media(max-width: 750px) {
		flex: 0 0 28.875px;
		margin: 0 -15.75px 0 -13.125px;		
	}	
}

.key:hover {
	background-image: linear-gradient(
					hsla(8,6%,98%,.85) 230px,
					hsla(8,6%,98%,.35) 230px
				);
}

.key:active {
	box-shadow: inset 0 5px 10px 0 rgba(0,0,0,.1),
				inset 0 -2px 2px -2px rgba(0,0,0,.1);
}

.key.black:hover {
	background-color: hsla(8,3%,12%,1);
	background-image: none;
	box-shadow: inset 0 6px 0 3px hsla(8,3%,8%,.65),
			inset 6px 0 0 0 hsla(8,3%,10%,.5),
			inset -6px 0 0 0 hsla(8,3%,10%,.5),
			inset 0 -24px 0 -12px hsla(8,3%,35%,.2),
			inset 0 -30px 0 -12px hsla(8,3%,35%,.1),
			inset 0 -12px 0 6px hsla(8,3%,10%,1),
			0 6px 0 -2px hsla(8,3%,32%,.18);
}

.key.black:active {
	border-color: #040f10;
	box-shadow: inset 0 5px 10px 0 rgba(0,0,0,.1),
				inset 0 -2px 2px -2px rgba(0,0,0,.1);
}